<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
  
 <!--   <context:annotation-config/> -->
 <!--  byName Approach 
  <bean id="heart"  class="com.training.autowired.Heart"></bean>
  <bean id="human" class ="com.training.autowired.Human" autowire="byName"/>  
  -->
  
  <!--  byType Approach 
  <bean id="heart1"  class="com.training.autowired.Heart"></bean>
  <bean id="human" class ="com.training.autowired.Human" autowire="byType"/> 
 -->
 
 <!--  Constructor Approach -->
	<bean id="heart"  class="com.training.autowired.Heart"></bean>
    <bean id="human" class ="com.training.autowired.Human" autowire="constructor">   
 	  <property name="heart" ref="heart"></property> 
  	</bean> 
</beans>
   
