<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<form ng-app="" name="myForm">
    Email:
    <input type="email" name="myAddress" ng-model="text">
    <span ng-show="myForm.myAddress.$error.email">Not a valid e-mail address</span>
    <br/>
    Age:
    <input type="number" name="myAge" ng-model="text1">
    <span ng-show="myForm.myAge.$error.number">Not a valid number</span>
    <br/>
     Name:
    <input type="text" name="myName" ng-model="text2">
    <span ng-show="myForm.myName.$error.text">Not a valid Name</span>
</form>

<p>Enter your e-mail address in the input field. AngularJS will display an errormessage if the address is not an e-mail.</p>

</body>
</html>
